/*
TABLE OF CONTENTS:
    * Container
    * Typography
        - Typeface
        - Kerning
        - Sizes, Weights, and Heights
        - Lists
        - Text Styles
    * Menu
        - Logo
        - Navbar
    * Elements
        - Entities
        - Collection Statistics
        - Footer
        - Vanilla Tilt
        - Forms, Buttons, and Links
    * Animations
    * Default Theme (White)
    * Misc
    * Media Queries
*/


/* CONTAINER ------------------------------------------------------------------------ */


body {
    width: 100%;
}
html,
body,
#wrap {
    height: 100%;
}
    body > #wrap {
        height: auto;
        min-height: 100%;
    }

.content {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
    .content .writing {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 34em;
        width: auto;
        text-align: left;
        margin: 0 auto;
        display: inline-block;
    }

#acknowledgements {
    margin-top: 0;
}

.visible {
    transition: opacity 0.5s ease-in;
    opacity: 1 !important;
}

/* TYPOGRAPHY ----------------------------------------------------------------------- */


/* ----- TYPEFACE ----- */
@font-face {
    font-family: "Pangram";
    src: url("/fonts/Pangram-Regular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pangram";
    src: url("/fonts/Pangram-Bold.otf");
    font-weight: 700;
    font-style: normal;
}
html,
textarea {
    /* Many thanks to Craig Hockenberry https://furbo.org/2018/03/28/system-fonts-in-css/ */
    font-family: system-ui,
                 -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 "Roboto",
                 "Oxygen",
                 "Ubuntu",
                 "Cantarell",
                 "Fira Sans",
                 "Droid Sans",
                 "Helvetica Neue",
                 sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* ----- KERNING ----- */
h1, h2 {
    letter-spacing: 0.01em;
}
menu input {
    letter-spacing: 1px;
}

/* ----- SIZES, WEIGHTS, AND HEIGHTS ----- */
html {
    font-size: 14px;
}
html,
body {
    line-height: 1.45em;
}
h1 {
    font-size: 2.074em;
}
h2 {
    font-size: 1.728em;
}
h3 {
    font-size: 1.44em;
}
    menu h3 { /* Only on mobile, increase the font size a little */
        font-size: 2.074em;
    }
h4 {
    font-size: 1.2em;
}
    menu h4 { /* Only on mobile, increase the font size a little */
        font-size: 1.44em;
    }
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.833em;
}
h1, h2, h3, h4, h5, h6,
time,
menu ul,
#footer {
    line-height: 1.2em;
    margin: 1.414em 0 0.5em;
}
#footer,
.stats {
    font-size: 0.9em;
}
.stats {
    line-height: 1em;
}
menu h3 a.active span {
    line-height: .75em;
}
p, ol, ul, ol li, ul li {
    margin-top: 0;
    margin-bottom: 1.3em;
}
    menu ul li,
    .record p,
    .book p {
        margin-bottom: 0;
    }

/* ----- LISTS ----- */
.writing ol,
.writing ul {
    margin-left: 1.95em;
}
.writing ol {
    list-style-type: decimal;
}
    .writing ol ol {
        list-style-type: upper-alpha;
    }
        .writing ol ol ol {
            list-style-type: upper-roman;
        }
.writing ol {
    list-style-type: decimal;
}
    .writing ol ol {
        list-style-type: upper-alpha;
    }
        .writing ol ol ol {
            list-style-type: upper-roman;
        }
.writing ul {
    list-style-type: disc;
}
    .writing ul ul {
        list-style-type: none;
    }
        .writing ul ul li:before {
            content: "-";
            position: absolute;
            margin-left: -1.3em;
        }
        .writing ul ul ul {
            list-style-type: circle;
        }
            .writing ul ul ul li:before {
                content: none;
                margin-left: 0;
            }
.writing ul {
    list-style-type: disc;
}
    .writing ul ul {
        list-style-type: none;
    }
        .writing ul ul li:before {
            content: "-";
            position: absolute;
            margin-left: -1.3em;
        }
        .writing ul ul ul {
            list-style-type: circle;
        }
            .writing ul ul ul li:before {
                content: none;
                margin-left: 0;
            }
.writing li {
    margin: 0;
}
.writing li,
.writing ul,
.writing ol {
    margin-top: 0;
}

/* ----- TEXT STYLES ----- */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
h1 {
    font-weight: bold;
}
html {
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6,
time,
menu ul,
#footer {
    font-weight: bold;
}


/* MENU --------------------------------------------------------------------------- */


/* ----- LOGO ----- */

.logo {
    margin-top: -3px;
    vertical-align: middle;
    height: 0.82em;
    margin-right: -.25em;
    display: inline-block;
}
    h1 .logo {
        margin-right: -.15em;
    }
.logo-banner {
    width: 7em;
    margin-bottom: 1.3em;
}

/* ----- NAVBAR ----- */
menu {
    border-bottom: 1px solid black;
    padding-top: 1em;
    padding-left: 3%;
    padding-right: 3%;
    height: 6.5em;
    cursor: default;
}
    menu * {
        display: inline-block;
    }
    menu.with-search-bar {
        height: 9.5em;
    }
    menu h3,
    menu h4,
    menu ul {
        margin-top: 0;
    }
    menu input {
        border: 1px solid black;
        float: right;
        padding: 0.375em 0.375em 0.375em 1em;
        box-sizing: border-box;
        border-radius: 0.25em;
        font-size: 1em;
        margin-top: 0;
        width: 100%;
        max-width: unset;
    }
        menu input:focus {
            border-color: black;
            outline: none;
        }
    menu h3 {
        margin-left: 0;
        text-align: center;
        display: block;
    }
        menu h3 span {
            margin-left: -0.8em;
            padding-left: 0.9em;
        }
    menu ul {
        display: block;
        margin-left: 0;
        text-align: center;
        margin-bottom: 0.25em;
    }
        menu ul a {
            border: 1px solid transparent;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
            width: 30vw;
            border-radius: 0.25em;
        }
        menu ul a.active,
        menu ul a.active:hover {
            border: 1px solid black;
        }
        menu ul a:hover {
            background-color: transparent;
            border: 1px solid black;
        }
    menu a.active span {
        display: inline-block;
    }
    menu.sub {
        background-color: transparent;
        text-align: center;
        box-shadow: unset;
        border: unset;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 1em;
        height: auto;
    }        menu.sub ul a {
            width: 46vw;
            margin-left: 0;
            margin-right: 0;
        }
        menu.sub ul a:hover {
            background-color: transparent;
        }


/* ELEMENTS ------------------------------------------------------------------------- */


/* ----- ENTITIES ----- */

/* Standard entity rendering (flat) */
#records,
#board-games,
#books {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
.records,
.board-games,
.books {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.record {
    width: 42vw;
    display: inline-block;
    margin: 0.325em 0.73125em;
}
.board-game,
.book {
    width: 41vw;
    display: inline-block;
    margin: 0.325em 0.73125em;
}
.record a .wrapper,
.record a:active .wrapper,
.record a:visited .wrapper,
.record a:focus .wrapper,
.record .art {
    max-height: 42vw;
    max-width: 42vw;
}
.board-game a .wrapper,
.board-game a:active .wrapper,
.board-game a:visited .wrapper,
.board-game a:focus .wrapper,
.book a .wrapper,
.book a:active .wrapper,
.book a:visited .wrapper,
.book a:focus .wrapper,
.board-game .art,
.book .art {
    max-height: 41vw;
    max-width: 41vw;
}
.record a .wrapper,
.board-game a .wrapper,
.book a .wrapper {
    display: inline-block;
}
    .record .wrapper .center,
    .board-game .wrapper .center,
    .book .wrapper .center {
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
    }
    .wrapper {
        will-change: transform;
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    }
    .record .metadata,
    .board-game .metadata,
    .book .metadata {
        display: inline-block;
        font-size: 0.833em;
        width: 100%;
    }
    .record .metadata {
        text-align: left;
    }
    .board-game .metadata,
    .book .metadata {
        text-align: center;
    }
        .record .metadata .title,
        .record .metadata .artist,
        .board-game .metadata .title,
        .book .metadata .title,
        .book .metadata .author {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .record .metadata .title,
        .board-game .metadata .title,
        .book .metadata .title {
            font-weight: bold;
        }
        .record .metadata .artist,
        .book .metadata .author {
            font-size: 0.833em;
            margin-top: -0.75em;
        }
    .record .art,
    .board-game .art,
    .book .art {
        display: block;
        width: auto;
        height: auto;
        border-radius: 0.25em;
        border: 1px solid black;
    }
    .record div.wrapper,
    .board-game div.wrapper,
    .book div.wrapper {
        border-radius: 0.25em;
        overflow: hidden;
    }

/* Experimental 3D entity rendering */
.box-wrapper {
  perspective: 44em;
  perspective-origin: 50% 5.5em;
}
.box-faces {
  position: relative;
  width: 11em;
  transform-style: preserve-3d;
}
.box-faces p {
  padding: 40px 0;
}
.box-face {
  outline: 1px solid rgba(0, 0, 0, 0.375);
  position: absolute;
  width: 11em;
  height: 11em;
  box-shadow: inset 0px 0px 5.5em rgba(255, 255, 255, 0.05);
}
    .box-face--is-back {
      transform: translateZ(-5.5em) rotateY(180deg);
    }
    .box-face--is-top {
      transform: rotateX(-90deg) translateY(-5.5em);
      transform-origin: top center;
    }
    .box-face--is-right {
      transform: rotateY(-270.1deg) translateX(5.5em);
      transform-origin: top right;
    }
    .box-face--is-left {
      transform: rotateY(269.9deg) translateX(-5.5em);
      transform-origin: center left;
    }
    .box-face--is-front {
      transform: translateZ(5.5em);
    }
.box-faces,
.box-shadow {
    transform: rotateX(-12deg) rotateY(12deg) translateX(-1em);
}
.board-game a:hover .box-faces,
.board-game a:hover .box-shadow {
    transform: rotateX(0deg) rotateY(0deg) translateY(1.3em);
}
.shadow-wrapper {
  perspective: 44em;
  perspective-origin: 50% 5.5em;
}
.box-shadow {
  position: relative;
  width: 11em;
  transform-style: preserve-3d;
}
.box-shadow div {
  position: absolute;
  width: 11em;
  height: 11em;
  top: 0px;
  opacity: 0.98;
  box-shadow: 0px 0px 5.5em #000;
  transform: rotateX(90deg) translateY(5.5em);
  transform-origin: bottom center;
}
/*https://davidwalsh.name/css-cube*/
/* Uncomment to have box auto-rotate */
/*@keyframes spin {
    from { transform: rotateY(0) rotateX(360deg); }
    to { transform: rotateY(360deg) rotateX(0); }
}

.box-faces {
    animation: spin 10s infinite linear;
}*/
/*.box-faces {
    transform: rotateY(80deg) rotateX(25deg);
}*/

.threeDBoxes {
    margin-left: 0.75em;
}
.board-game.threeDBox {
    margin: 0.325em 1em;
}
.board-game {
    margin: 0.325em 0.73125em;
}
.shadow-and-box-wrapper {
    transform: scale(0.875);
}
.board-game .wrapper .metadata {
    margin-top: 1em;
    margin-bottom: 2em;
}
.board-game.threeDBox .metadata {
    margin-top: 2.75em;
}

/* ----- COLLECTION STATISTICS ----- */

.stats {
    text-align: center;
    margin-bottom: 2em;
}
    .stats > span {
        display: inline-block;
        position: relative;
    }

/* ----- FOOTER ----- */

#footer {
    border-top: 1px solid black;
    background-color: white;
    font-weight: normal;
    position: relative;
    margin-top: -28px;
    margin-bottom: 0;
    height: 57px;
    clear: both;
    text-align: center;
    padding-bottom: 5em;
}
    #footer ul,
    #footer ul li {
        margin-bottom: 0;
    }
    #footer ul {
        margin-top: 21px;
    }
    #footer li {
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
        width: auto;
        margin-bottom: 0;
    }

/* ----- VANILLA TILT ----- */

.js-tilt-glare-inner {
    /**
     * For abnormally sized items (like board games), the glare hover "spills"
     * beyond the actual item itself to fill the complete square cell the
     * given item has to display. We can prevent this by making each item an
     * inline-display element, but this unfortunately breaks the JS tilt glare
     * size determination, resulting in teeny tiny glare squares.
     *
     * To correct this, have it be x2 the size of the item in question. Since
     * the glare is already overflow:hidden, this is sufficient to achieve the
     * desired effect.
     */
    width: 200% !important;
    height: 200% !important;

    background-image: linear-gradient(0deg, rgba(248, 249, 250, 0) 0%, rgb(248, 249, 250) 100%) !important;
}
.js-tilt-glare {
    left: 1px !important;
    top: 1px !important;
}
.js-tilt-glare ~ .js-tilt-glare {
    display: none;
}

/* ----- FORMS, BUTTONS, AND LINKS ----- */

input {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    box-shadow: none !important
}
button,
.button {
    display: block;
    margin-top: 0;
    margin-bottom: 0.65rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.25em;
    width: auto;
    border: none;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.34em;
    padding-bottom: 0.34em;
    width: 15vw;
    max-width: 8.4em;
    display: inline-block;
}

.no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}


/* ANIMATIONS --------------------------------------------------------------------------- */


@keyframes loading {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
@keyframes colors {
    0% {
        border-left-color: #3A4147;
        border-bottom-color: #3A4147;
    }
    12.5% {
        border-left-color: #E23636;
        border-bottom-color: #E23636;
    }
    25% {
        border-left-color: #ED5B0A;
        border-bottom-color: #ED5B0A;
    }
    37.5% {
        border-left-color: #F19100;
        border-bottom-color: #F19100;
    }
    50% {
        border-left-color: #2EA248;
        border-bottom-color: #2EA248;
    }
    62.5% {
        border-left-color: #1474C4;
        border-bottom-color: #1474C4;
    }
    75% {
        border-left-color: #3D5FE0;
        border-bottom-color: #3D5FE0;
    }
    87.5% {
        border-left-color: #A33CBC;
        border-bottom-color: #A33CBC;
    }
    100% {
        border-left-color: #3A4147;
        border-bottom-color: #3A4147;
    }
}
#loading-spinner {
    width: 100%;
    z-index: -100;
}
.spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: transparent !important;
    min-height: 2rem;
    pointer-events: none;
    position: relative;
}
    .spinner:after {
        animation: loading .5s infinite linear,
                   colors 4s ease-in-out infinite;
        border: .15rem solid rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 1.6rem;
        left: 50%;
        margin-left: -.8rem;
        margin-top: -.8rem;
        position: absolute;
        top: 50%;
        width: 1.6rem;
        z-index: 1;
    }

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@keyframes zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
.zoom-enter-active {
    animation: zoomIn .5s;
}
.zoom-leave-active,
.zoom-leave-to {
    animation: zoomOut .5s;
}
.zoom-leave-active {
    position: absolute;
}
.zoom-move {
    transition: transform 0.5s;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.fadeInVertical-enter-active {
  animation: fadeInDown .5s;
}
.fadeInVertical-leave-active {
  animation: fadeOutUp .5s;
}

.search-animation-move {
    transition: transform 0.2s;
}
.search-animation-enter-to,
.search-animation-leave-to {
    transition: opacity 0.2s, transform 0.2s;
}
.search-animation-enter,
.search-animation-leave-to {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
}
.search-animation-leave-active {
  position: absolute;
}

.record a .metadata,
.board-game a .metadata,
.book a .metadata,
menu a {
    transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
}
.writing a {
    transition: color 0.25s ease;
}
button,
.button {
    transition: background 0.2s ease, box-shadow 0.2s ease, transform 300ms ease;
}
#footer a {
    transition: color 0.25s ease;
}
.record .art,
.board-game .art,
.book .art,
.js-tilt-glare {
    transition: transform 338ms ease;
}
.board-game .box-faces,
.board-game .box-shadow,
.board-game .box-wrapper,
.board-game a:hover .metadata .title {
    transition: transform 338ms ease;
}
.board-game a .metadata {
    transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease, transform 338ms ease;
}
menu input {
    transition: border-color 0.25s ease, background-color 0.25s ease;
}


/* DEFAULT THEME (WHITE) --------------------------------------------------------------------------- */


menu {
    background-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
menu ul a.active,
menu ul a.active:hover {
    background-color: rgba(0, 0, 0, 0.0375);
    border-color: rgba(0, 0, 0, 0.05);
}
menu ul a:hover {
    border-color: rgba(0, 0, 0, 0.1);
}
menu input {
    border-color: rgba(0, 0, 0, 0.1);
}
menu input:hover {
    background-color: rgba(0, 0, 0, 0.0175);
}
menu input:focus {
    background-color: rgba(0, 0, 0, 0.0375);
    border-color: rgba(0, 0, 0, 0.1);
}
menu.sub ul a.active,
menu.sub ul a.active:hover {
    background-color: rgba(0, 0, 0, 0.0375);
    border-color: rgba(0, 0, 0, 0.05);
}
menu.sub ul a:hover {
    border-color: rgba(0, 0, 0, 0.1);
}
html {
    color: rgba(0, 0, 0, 0.95);
    background-color: #FFFFFF;
}
.record a .metadata,
.board-game a .metadata,
.book a .metadata,
menu a {
    color: rgba(0, 0, 0, 0.95);
}
.record a .wrapper,
.record a:active .wrapper,
.record a:visited .wrapper,
.record a:focus .wrapper,
.board-game a .wrapper,
.board-game a:active .wrapper,
.board-game a:visited .wrapper,
.board-game a:focus .wrapper,
.book a .wrapper,
.book a:active .wrapper,
.book a:visited .wrapper,
.book a:focus .wrapper,
.record .art,
.board-game .art,
.book .art {
    color: transparent;
    border-color: #ECECEC;
}
.record .shadow,
.book .shadow,
.board-game .shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 7.6px, rgba(0, 0, 0, 0.043) 0px 0px 18.3px, rgba(0, 0, 0, 0.035) 0px 0px 34.4px, rgba(0, 0, 0, 0.03) 0px 0px 61.4px, rgba(0, 0, 0, 0.024) 0px 0px 114.9px, rgba(0, 0, 0, 0.016) 0px 0px 275px;
}
.shadow {
    line-height: 0;
}
.record a:hover .shadow,
.book a:hover .shadow,
.board-game a:hover .shadow {
    box-shadow: 0 1.4px 7.6px rgba(0, 0, 0, 0.02), 0 3.3px 18.3px rgba(0, 0, 0, 0.028), 0 6.3px 34.4px rgba(0, 0, 0, 0.035), 0 11.2px 61.4px rgba(0, 0, 0, 0.042), 0 20.9px 114.9px rgba(0, 0, 0, 0.05), 0 50px 275px rgba(0, 0, 0, 0.07);
}
.record .metadata .artist,
.book .metadata .author {
    color: rgba(0, 0, 0, 0.4);
}
.writing a {
        color: #408AE6;
    }
    .writing a:active,
    .writing a:hover {
        color: #0067E6;
    }
.stats {
    color: rgba(0, 0, 0, 0.2);
}
#footer {
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.1);
}
    #footer a {
        color: rgba(0, 0, 0, 0.4);
    }
    #footer a:hover,
    #footer a:active {
        color: black;
    }
.tab {
    background: linear-gradient(#FA5252, #E03131);
}
    .tab.active {
        background: linear-gradient(#C92A2A, #F03E3E);
    }
::selection {
    background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.1);
}
button,
.button {
    color: rgba(255, 255, 255, 1);
    background-color: hsl(210, 7%, 56%); /* HSL(210, 7%, 56%) */
    box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.1875), 0 0.43em 0.87em -0.2em hsla(210, 7%, 56%, 0.2);
}
    button:hover,
    .button:hover {
        background-color: hsl(210, 7%, 61%) !important;
        box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.1875), 0 0.43em 0.87em -0.2em hsla(210, 7%, 61%, 0.2);
    }
    button:active,
    .button:active {
        background-color: hsl(210, 7%, 51%) !important;
        box-shadow: inset 0 .65em 1.3em rgba(0, 0, 0, 0.0625), 0 0.43em 0.87em -0.2em hsla(210, 7%, 51%, 0.2);
    }


/* MISC --------------------------------------------------------------------------- */


#browserNotSupported {
    padding-bottom: 57px;
}
#browserSupported {
    padding-bottom: 1em;
}
#browserNotSupported {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

.progress-text,
#errorMessage {
    margin: 0 auto;
    margin-top: 2rem;
    display: inline-block;
    text-align: center;
    width: auto;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 2rem;
    padding-right: 2rem;
}


/* MEDIA QUERIES --------------------------------------------------------------------------- */


@media (max-width: 374px) {
    menu {
        height: 5em;
    }
        menu.sub ul a {
            width: 45vw;
        }
        menu h3 {
            font-size: 1.44em;
        }
        menu h4 {
            font-size: 1.2em;
        }
        menu input {
            font-size: 0.75rem;
            border-radius: 0.75rem;
        }
        menu.with-search-bar {
            height: 7.25em;
        }
    .record .metadata,
    .board-game .metadata,
    .book .metadata {
        font-size: 0.75em;
    }
}
@media (max-width: 524px) {
    .record .wrapper,
    .board-game .wrapper,
    .book .wrapper {
        display: inline;
    }
    .js-tilt-glare {
        display: none !important;
    }
}
@media (min-width: 525px) {
    .sk-fading-circle {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
        margin-top: 150px;
    }
    .logo {
        padding-right: 0.5em;
        height: 0.8em;
    }

    .record,
    .board-game,
    .book {
        width: 29vw;
    }
    .record a .wrapper,
    .record a:active .wrapper,
    .record a:visited .wrapper,
    .record a:focus .wrapper,
    .board-game a .wrapper,
    .board-game a:active .wrapper,
    .board-game a:visited .wrapper,
    .board-game a:focus .wrapper,
    .book a .wrapper,
    .book a:active .wrapper,
    .book a:visited .wrapper,
    .book a:focus .wrapper,
    .record .art,
    .board-game .art,
    .book .art {
        max-height: 29vw;
        max-width: 29vw;
    }
        .board-game a:hover .box-wrapper,
        .board-game a:hover .metadata {
            transform: scale(1.075);
        }
        .record .metadata,
        .board-game .metadata,
        .book .metadata {
            font-size: 0.75em;
        }
        .record .metadata,
        .book .metadata {
            margin-bottom: 0.5em;
        }
        .board-game .metadata {
            margin-bottom: 1em;
        }
        .board-game.threeDBox .metadata {
            margin-top: 2.75em;
        }
        .metadata .title {
            margin-bottom: 0;
        }
        .board-game.threeDBox {
            margin: 0.325em 0.975em;
        }

    menu,
    menu.with-search-bar {
        height: auto;

        padding-left: max(1em, env(safe-area-inset-left));
        padding-right: max(1em, env(safe-area-inset-right));
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
        menu ul {
            margin-left: 1em;
            display: inline-block;
            text-align: left;
            margin-bottom: 0;
        }
        menu li {
            margin-left: 0.25em;
            margin-right: 0.25em;
        }
            menu ul a {
                padding-left: 0.25em;
                padding-right: 0.25em;
                width: 5em;
                text-align: center;
            }
            menu.sub ul a {
                padding-left: 0.5em;
                padding-right: 0.5em;
                width: 6em;
                max-width: unset;
            }
        menu h3 {
            display: inline-block;
            text-align: left;
            font-size: 1.44em;
            margin-bottom: 0;
        }
        menu h4 {
            font-size: 1.2em;
            margin-bottom: 0;
        }
        menu input {
            width: 19vw;
            font-size: 0.833rem;
            border-radius: 0.25em;
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            margin-top: 2px;
            margin-left: 0.25em;
        }

    #footer {
        margin-top: -29px;
        padding-bottom: 0;
    }
        #footer li {
            margin-left: 5vw;
            margin-right: 5vw;
        }
}
@media (min-width: 700px) {
    html {
        font-size: 19px;
    }
    menu {
        height: auto;
    }
        menu ul a {
            padding-left: 0.5em;
            padding-right: 0.5em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            width: 13vw;
            min-width: 4em;
            max-width: 5em;
        }
        menu input {
            padding-top: 0.64em;
            padding-bottom: 0.64em;
            margin-top: 0;
            margin-left: 0.5em;
            width: 22vw;
            max-width: 20em;
            min-width: 9.5em;
        }
        menu.sub ul a {
            width: 6em;
        }

    .content ul {
        padding-left: 0;
        padding-right: 0;
    }

    .record,
    .board-game,
    .book {
        width: 19vw;
    }
    .record a .wrapper,
    .record a:active .wrapper,
    .record a:visited .wrapper,
    .record a:focus .wrapper,
    .board-game a .wrapper,
    .board-game a:active .wrapper,
    .board-game a:visited .wrapper,
    .board-game a:focus .wrapper,
    .book a .wrapper,
    .book a:active .wrapper,
    .book a:visited .wrapper,
    .book a:focus .wrapper,
    .record .art,
    .board-game .art,
    .book .art {
        max-height: 19vw;
        max-width: 19vw;
    }

    #footer {
        font-size: 0.833em;
        margin-top: -38px;
    }
        #footer ul {
            margin-top: 19px;
        }
        #footer li {
            margin-left: 2em;
            margin-right: 2em;
        }

    .tab {
        width: 13em;
    }
}

/* Large devices (Macs) */
@media (min-width: 1000px) {
    .content ul {
        padding-left: 0.73125em;
        padding-right: 0.73125em;
    }

    .record,
    .board-game,
    .book {
        width: 11em;
    }
    .record a .wrapper,
    .record a:active .wrapper,
    .record a:visited .wrapper,
    .record a:focus .wrapper,
    .board-game a .wrapper,
    .board-game a:active .wrapper,
    .board-game a:visited .wrapper,
    .board-game a:focus .wrapper,
    .book a .wrapper,
    .book a:active .wrapper,
    .book a:visited .wrapper,
    .book a:focus .wrapper,
    .record .art,
    .board-game .art,
    .book .art {
        max-width: 11em;
        max-height: 11em;
    }

    menu input {
        max-width: 20em;
        width: 20vw;
    }
}

/* Smaller than original iPhone */
@media (max-width: 320px) {
    menu {
        height: 9em;
    }
        menu.with-search-bar {
            height: auto;
            padding-bottom: 1em;
        }
        menu input {
            float: none;
        }
        menu ul li {
            display: block;
            width: 100%;
        }
        menu h4 {
            width: 95%;
        }
        menu ul a {
            width: 100%;
            padding: unset;
        }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1c1c1c;
    }
    .logo .fill {
        fill: rgba(255, 255, 255, 0.85);
    }
    .record a .metadata,
    .board-game a .metadata,
    .book a .metadata,
    menu a,
    html {
        color: rgba(255, 255, 255, 0.85);
    }
    menu,
    #footer {
        background-color: transparent;
        border-color: rgba(0, 0, 0, 0.375);
    }
    .spinner:after {
        border-color: #212121;
    }
    .record .metadata .artist,
    .book .metadata .author,
    #footer,
    #footer a,
    .progress-text,
    #errorMessage {
        color: rgba(255, 255, 255, 0.55);
    }
    menu ul a.active,
    menu ul a.active:hover,
    menu ul a:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }
    menu.sub ul a.active,
    menu.sub ul a.active:hover {
        background-color: rgba(255, 255, 255, 0.05);
        border-color: rgba(255, 255, 255, 0.05);
    }
    menu.sub ul a:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }
    ::selection {
        background: rgba(255, 255, 255, 0.1);
    }
    ::-moz-selection {
        background: rgba(255, 255, 255, 0.1);
    }
    .record a .wrapper,
    .record a:active .wrapper,
    .record a:visited .wrapper,
    .record a:focus .wrapper,
    .board-game a .wrapper,
    .board-game a:active .wrapper,
    .board-game a:visited .wrapper,
    .board-game a:focus .wrapper,
    .book a .wrapper,
    .book a:active .wrapper,
    .book a:visited .wrapper,
    .book a:focus .wrapper,
    .record .art,
    .board-game .art,
    .book .art {
        border-color: #191919;
    }
    .js-tilt-glare {
        opacity: 0.5;
    }
    .stats {
        color: rgba(255, 255, 255, 0.275);
    }
    menu ul a.active,
    menu ul a.active:hover {
        background-color: rgba(255, 255, 255, 0.05);
        border-color: rgba(255, 255, 255, 0.05);
    }
    menu h3 a:hover {
        color:  white;
    }
    #footer a:hover,
    #footer a:active {
        color: white;
    }
    menu input {
        color: rgba(255, 255, 255, 0.85);
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.1);
    }
    menu input:hover {
        background-color: rgba(255, 255, 255, 0.025);
    }
    menu input:focus {
        border-color: rgba(255, 255, 255, 0.05);
        background-color: rgba(255, 255, 255, 0.05);
    }
    .writing a {
        color: #408AE6;
    }
    .writing a:active,
    .writing a:hover {
        color: #73A6E6;
    }
    .record .shadow,
    .book .shadow,
    .board-game .shadow {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 7.6px, rgba(0, 0, 0, 0.086) 0px 0px 18.3px, rgba(0, 0, 0, 0.07) 0px 0px 34.4px, rgba(0, 0, 0, 0.06) 0px 0px 61.4px, rgba(0, 0, 0, 0.048) 0px 0px 114.9px, rgba(0, 0, 0, 0.032) 0px 0px 275px;
    }
    .record a:hover .shadow,
    .book a:hover .shadow,
    .board-game a:hover .shadow {
        box-shadow: 0 1.4px 7.6px rgba(0, 0, 0, 0.04), 0 3.3px 18.3px rgba(0, 0, 0, 0.056), 0 6.3px 34.4px rgba(0, 0, 0, 0.07), 0 11.2px 61.4px rgba(0, 0, 0, 0.084), 0 20.9px 114.9px rgba(0, 0, 0, 0.1), 0 50px 275px rgba(0, 0, 0, 0.14);
    }
}