@font-face {
	font-family: "Pangram";
	src: url("/fonts/Pangram-Regular.otf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Pangram";
	src: url("/fonts/Pangram-Bold.otf");
	font-weight: 700;
	font-style: normal;
}
html,
textarea { /* Must explicitly add textarea for Firefox bug, proving once again it's the worst browser */
	font-family: "Pangram", "San Francisco", system, -apple-system, BlinkMacSystemFont, helvetica, roboto, segoe ui, arial, sans-serif;

	text-rendering: optimizeLegibility;
	/* Font rendering in OS X Firefox is TERRIBLE. This makes the browser tolerable */
	-moz-osx-font-smoothing: grayscale;
	/* Default text rendering in WebKit is *way* too heavy, in my opinion. This thins
	the text a bit and makes it more crisp and pleasing to read. */
	-webkit-font-smoothing: antialiased;
}

html {
	color: #212529;
	background-color: #f8f9fa;

	font-size: 14px;
	font-weight: 400;
}
body {
	width: 100%;
}
html,
body {
	line-height: 1.45em;
}

h1, h2 {
	letter-spacing: 0.01em;
}
h1 {
	font-size: 2.074em;
	font-weight: bold;
}
h2 {
	font-size: 1.728em;
}
h3 {
	font-size: 1.44em;
}
	menu h3 { /* Only on mobile, increase the font size a little */
		font-size: 2.074em;
	}
h4 {
	font-size: 1.2em;
}
	menu h4 { /* Only on mobile, increase the font size a little */
		font-size: 1.44em;
	}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.833em;
}
h1, h2, h3, h4, h5, h6, time,
menu ul {
	line-height: 1.2em;
	margin: 1.414em 0 0.5em;
	font-weight: bold;
}
p, ol, ul, ol li, ul li {
	margin-top: 0;
	margin-bottom: 1.3em;
}
	menu ul li,
	.record p {
		margin-bottom: 0;
	}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

input {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	box-shadow: none !important
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}
::selection { /* Safari */
    background: #e9ecef;
}
::-moz-selection { /* Firefox */
    background: #e9ecef;
}

menu {
	background-color: white;
	box-shadow: 0 .325em .6em 0 rgba(0, 0, 0, .04), 0 .6em 1.3em 0 rgba(0, 0, 0, .02);
	border-bottom: 1px solid rgba(199, 199, 199, 0.5);

	padding-top: 1em;
	padding-left: 3%;
	padding-right: 3%;
	height: 6.5em;

	cursor: default;
}
	menu.with-search-bar {
		height: 9.5em;
	}
	menu * {
		display: inline-block;
	}
	menu h3,
	menu h4,
	menu ul {
		margin-top: 0;
	}
	menu h3 {
		margin-left: 0;
		text-align: center;
		display: block;
	}
		menu h3 span {
			margin-left: -0.8em;
			padding-left: 0.9em;
		}
	menu ul {
		display: block;
		margin-left: 0;
		text-align: center;
		margin-bottom: 0.25em;
	}
	.record a .metadata,
	menu a {
		color: #212529;
		transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
	}
		menu ul a {
			border: 1px solid transparent;

			padding-left: 0.5em;
			padding-right: 0.5em;
			margin-left: 0;
			margin-right: 0;
			width: 4.5em;
			border-radius: 1em;
		}
		menu ul a.active,
		menu ul a:hover {
			background-color: #f1f3f5;
			border: 1px solid #e9ecef;
		}
	menu a.active span {
	    display: inline-block;
	}
		menu h3 a.active span {
			line-height: .75em;
		}
		menu h3 a:active,
		menu h3 a:hover {
			color: #868e96;
		}
	menu input {
		border: 1px solid #C7C7C7;

		float: right;
		padding: 0.375em 0.375em 0.375em 1em;
		letter-spacing: 1px;
		box-sizing: border-box;
		border-radius: 1em;
		font-size: 1em;

		margin-top: 0;
		width: 100%;
		max-width: unset;
		transition: border-color 0.25s ease;
	}
		menu input:focus {
		    border-color: #adb5bd;
		    outline: none;
		}

.logo {
	height: 0.75em;
	margin-right: -.25em;
	display: inline-block;
}
h1 .logo {
	margin-right: -.15em;
}

.content {
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
	.content,
	.records,
	.footer {
		margin-bottom: 2em;
	}
	.content .writing {
		padding-left: 5%;
		padding-right: 5%;
		max-width: 34em;

		width: auto;
		text-align: left;
		margin: 0 auto;
		display: inline-block;
	}

.writing a {
	color: #339af0;
	transition: color 0.25s ease;
}
.writing a:hover,
.writing a:active {
	color: #1c7ed6;
}
.link-button {
	color: white !important;
	background-color: #228be6;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4dabf7), color-stop(100%, #228be6));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #4dabf7 0, #228be6 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #4dabf7 0, #228be6 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, #4dabf7 0, #228be6 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, #4dabf7 0, #228be6 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, #4dabf7 0, #228be6 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4dabf7', endColorstr='#228be6', GradientType=0);
	/* IE6-9 */
	border: 1px solid #228be6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	
	text-decoration: none;
	display: inline-block;
	padding: .5rem 1.25rem;
	font-weight: 500;
	border-radius: 2em;
	transition: background 0.25s ease, box-shadow 0.25s ease !important;
}
	.link-button:hover {
		background-position: 0 -15px;
	}
	.link-button:active {
		background-image: none;
		background-color: #228be6;
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 1px 2px rgba(0, 0, 0, .2);
	}

.github-logo {
	width: 1.3em;
	margin-bottom: -0.25em;
	padding-right: 0.25em;
}
	.github-logo .fill-color {
		fill: rgba(0, 0, 0, 0.5);
	}

.records {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.record {
	width: 43vw;
	margin: 0.325em 0.65em;
	max-width: 40.25em;
	display: inline-block;
}
    .record.ng-enter {
		opacity: 0;
		transition: all .1s ease-in;
	}
	.record.ng-enter-active {
		opacity: 1;
	}
	.record.ng-leave {
		opacity: 1;
		transition: all .1s ease-in;
	}
	.record.ng-leave-active {
		opacity: 0;
	}
	.record .metadata {
		display: inline-block;
		font-size: 0.833em;
		text-align: left;
		width: 100%;
	}
		.record .metadata .title,
		.record .metadata .artist {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.record .metadata .title {
			font-weight: bold;
		}
		.record .metadata .artist {
			color: #868e96;

			font-size: 0.833em;
			margin-top: -0.5em;
		}
	.record .wrapper {
		border: 1px solid #ECECEC;

		width: 43vw;
		height: 43vw;
		border-radius: 0.25em;
		overflow: hidden;
		transition: box-shadow 338ms ease, transform 600ms ease;
	}
	.record .album-art {
		height: 100%;
		width: 100%;
	}
	.record a:hover .wrapper {
		box-shadow: 0 0.5em 1em -0.25em rgba(0, 0, 0, 0.2);
		transform: scale(1.025);
	}
	/* Fixing strange black border around visited record links */
	.record a .wrapper,
	.record a:active .wrapper,
	.record a:visited .wrapper,
	.record a:focus .wrapper {
		color: transparent;
		border-color: #ECECEC;
	}

.footer {
	color: #868e96;
	text-align: center;
}

.sk-fading-circle {
	margin: 25px auto;
	width: 20px;
	height: 20px;
	position: relative;
	margin-top: 75px;
}
.sk-fading-circle-text {
	position: absolute;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: -50px;
	color: #868e96;
	margin-left: -50vw;
}
.sk-fading-circle.ng-enter,
.sk-fading-circle-text.ng-enter {
	opacity: 0;
	transition: all .5s ease-in;
}
.sk-fading-circle.ng-enter-active,
.sk-fading-circle-text.ng-enter-active {
	opacity: 1;
}
.sk-fading-circle.ng-leave,
.sk-fading-circle-text.ng-leave {
	opacity: 1;
	transition: all .5s ease-in;
}
.sk-fading-circle.ng-leave-active,
.sk-fading-circle-text.ng-leave-active {
	opacity: 0;
}
.sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-fading-circle .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #C7C7C7;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	        animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	    -ms-transform: rotate(30deg);
	        transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	    -ms-transform: rotate(60deg);
	        transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	    -ms-transform: rotate(120deg);
	        transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	    -ms-transform: rotate(150deg);
	        transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	    -ms-transform: rotate(210deg);
	        transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	    -ms-transform: rotate(240deg);
	        transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	        transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	    -ms-transform: rotate(300deg);
	        transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	    -ms-transform: rotate(330deg);
	        transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	        animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	        animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	        animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	        animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	        animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	        animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	        animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	        animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	        animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	        animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

@media (max-width: 374px) {
	menu h3 {
		font-size: 1.44em;
	}
	menu h4 { /* Only on mobile, increase the font size a little */
		font-size: 1.2em;
	}
	menu input {
		font-size: 0.75rem;
		border-radius: 0.75rem;
	}
	menu {
		height: 5em;
	}
		menu.with-search-bar {
			height: 7.25em;
		}
	.record .metadata {
		font-size: 0.75em;
	}
	.record .metadata .artist {
		margin-top: -0.75em;
	}
}
@media (min-width: 414px) {
	.record {
		width: 27vw;
	}
	.record .wrapper {
		width: 27vw;
		height: 27vw;
	}
}
/* Medium devices (iPads) */
@media (min-width: 525px) {
	.sk-fading-circle {
		margin: 100px auto;
		width: 40px;
		height: 40px;
		position: relative;
		margin-top: 150px;
	}
	.record {
		width: 27vw;
	}
		.record .wrapper {
			width: 27vw;
			height: 27vw;
		}
		.record .metadata {
			font-size: 0.75em;
		}
			.record .metadata .artist {
				margin-top: -0.75em;
			}

	menu,
	menu.with-search-bar {
		height: auto;
		padding-left: 1em;
		padding-right: 1em;
	}
		menu ul {
			margin-left: 1em;
			display: inline-block;
			text-align: left;
			margin-bottom: 0.5em;
		}
		menu li {
			margin-left: 0.25em;
			margin-right: 0.25em;
		}
			menu ul a {
				padding-left: 0.25em;
				padding-right: 0.25em;
				width: 5em;
				text-align: center;
			}
		menu h3 {
			display: inline-block;
			text-align: left;
			font-size: 1.44em;
		}
		menu h4 {
			font-size: 1.2em;
		}
		menu input {
			width: 17vw;
			margin-top: 4px;
			font-size: 0.75rem;
			border-radius: 0.75rem;
		}
}

/* Medium devices (iPads) */
@media (min-width: 700px) {
	html {
		font-size: 19px;
	}

	menu {
		height: auto;
	}
		menu ul a {
			padding-left: 0.5em;
			padding-right: 0.5em;
			width: 15vw;
			max-width: 6em;
		}
		menu input {
			max-width: 16em;
			width: 17vw;
		}

	.record {
		width: 193px;
	}
		.record .wrapper {
			width: 193px;
			height: 193px;
		}
}

/* Large devices (Macs) */
@media (min-width: 900px) {

}

/* Smaller than original iPhone */
@media (max-width: 320px) {
	menu {
		height: 9em;
	}
		menu.with-search-bar {
			height: 11.75em;
		}
	menu ul li {
		display: block;
		width: 100%;
	}
	menu h4 {
		width: 95%;
	}
	menu ul a {
		width: 100%;
		padding: unset;
	}
}