<div id="board-games">
    <ul v-if="initialLoadInProgress">
        <transition-group name="zoom">
            <div v-if="loadingSpinnerVisible" id="loading-spinner" :key="theSpinner">
                <div class="progress-text">
                    <span>Loading board games from BoardGameGeek...</span>
                    <div class="spinner"></div>
                </div>
            </div>
            {% include "boardGame" %}
        </transition-group>
    </ul>
    <ul v-else-if="documentReady">
        <transition-group name="search-animation">
            {% include "boardGame" %}
        </transition-group>
    </ul>
    <ul v-else>
        {% include "boardGame" %}
    </ul>
    <p v-if="searchString === ''" class="stats"><span>${ boardGames.length } board game<span v-if="boardGames.length != 1">s</span> in {{ submenu }}</span></p>
</div>