<div id="books">
    <div style="opacity: 0;" :class="{ 'visible' : vueLoaded === true}">
        <ul v-if="initialLoadInProgress">
            <transition-group name="zoom">
                <div v-if="loadingSpinnerVisible" id="loading-spinner" :key="theSpinner">
                    <div class="progress-text">
                        <span>Loading books from Goodreads...</span>
                        <div class="spinner"></div>
                    </div>
                </div>
                {% include "book" %}
            </transition-group>
        </ul>
        <ul v-else-if="documentReady">
            <transition-group name="search-animation">
                {% include "book" %}
            </transition-group>
        </ul>
        <ul v-else>
            {% include "book" %}
        </ul>
        <p v-if="searchString === ''" class="stats"><span>${ books.length } Book<span v-if="books.length != 1">s</span> in <span style="text-transform: capitalize;">{{ submenu }}</span></span></p>
    </div>
</div>