<div id="footer" class="footer">
    <ul>
        <li><a class="rainbow-1" href="/about">About</a></li>
        <li><a class="rainbow-2" href="/acknowledgements">Acknowledgements</a></li>
        <li><a class="rainbow-3" href="https://github.com/barrowclift/shelf">Contribute</a></li>
    </ul>
</div>