<menu class="no-select sub">
    <ul>
        <li><h4><a class="{% if submenu == 'collection' %}active{% endif %}" href="{{ collectionPath }}"><span>Collection</span></a></h4></li>
        <li><h4><a class="{% if submenu == 'wishlist' %}active{% endif %}" href="{{ wishlistPath }}"><span>Wishlist</span></a></h4></li>
    </ul>
</menu>